<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>
        <Cell><Data ss:Type="String">Proyecto Código</Data></Cell>
        <Cell><Data ss:Type="String">Responsable del contrato</Data></Cell>
        <Cell><Data ss:Type="String">Numero de Identificacion</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de Nacimiento</Data></Cell>
        <Cell><Data ss:Type="String">Pais</Data></Cell>
        <Cell><Data ss:Type="String">Provincia</Data></Cell>
        <Cell><Data ss:Type="String">Ciudad</Data></Cell>
        <Cell><Data ss:Type="String">Calle</Data></Cell>
        <Cell><Data ss:Type="String">Numero</Data></Cell>
        <Cell><Data ss:Type="String">Piso</Data></Cell>
        <Cell><Data ss:Type="String">Departamento</Data></Cell>
        <Cell><Data ss:Type="String">Telefono</Data></Cell>
        <Cell><Data ss:Type="String">Correo Electronico</Data></Cell>
      </Row>
    <% @miembros_equipo.each do |miembro_equipo| %>
      <Row>
        <Cell><Data ss:Type="String"><%= miembro_equipo.id.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.apellido %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.tipo_documento.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.nroIdentificacion %></Data></Cell>
        <Cell><Data ss:Type="Data"><%= miembro_equipo.fechaNacimiento %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.pais.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.provincia.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.ciudad.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.calle %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.nroDomicilio %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.piso %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.dpto %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.telefono %></Data></Cell>
        <Cell><Data ss:Type="String"><%= miembro_equipo.email %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>