<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">N°</Data></Cell>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Descipción</Data></Cell>
        <Cell><Data ss:Type="String">Monto</Data></Cell>
        <Cell><Data ss:Type="String">Vencimiento Fecha</Data></Cell>
        <Cell><Data ss:Type="String">Interes</Data></Cell>
      </Row>
    <% Vencimiento.all.each do |v, i| %>
      <Row>
        <Cell><Data ss:Type="String"><%= v.id.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= v.concepto_de_pago.id.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= v.concepto_de_pago.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= v.concepto_de_pago.descripcion %></Data></Cell>
        <Cell><Data ss:Type="String"><%= v.concepto_de_pago.monto %></Data></Cell>
        <Cell><Data ss:Type="String"><%= v.fecha %></Data></Cell>
        <Cell><Data ss:Type="String"><%= v.interes.porcentaje %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
        