<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Descripcion</Data></Cell>
        <Cell><Data ss:Type="String">Monto</Data></Cell>
        <% max_count = 0 %>
        <% ConceptoDePago.all.each do |c| %>
          <% if c.vencimientos.count > max_count%>
            <%  max_count = c.vencimientos.count %>
          <% end %>
        <% end %>
        <% for index in 1..max_count %>
          <Cell><Data ss:Type="String">Vencimiento <%=index.to_s%> Fecha</Data></Cell>
          <Cell><Data ss:Type="String">Vencimiento <%=index.to_s%> Porcentaje Interes</Data></Cell>
        <% end %>
      </Row>
    <% @conceptos_de_pago.each do |concepto| %>
      <Row>
        <Cell><Data ss:Type="String"><%= concepto.id.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= concepto.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= concepto.descripcion %></Data></Cell>
        <Cell><Data ss:Type="String"><%= concepto.monto %></Data></Cell>
        <% concepto.vencimientos.each do |v| %>
          <Cell><Data ss:Type="String"><%= v.fecha %></Data></Cell>
          <Cell><Data ss:Type="String"><%= v.interes.porcentaje %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
        

