<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Código</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Apellido</Data></Cell>
        <Cell><Data ss:Type="String">Numero de Identificacion</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de Nacimiento</Data></Cell>
        <Cell><Data ss:Type="String">Pais</Data></Cell>
        <Cell><Data ss:Type="String">Provincia</Data></Cell>
        <Cell><Data ss:Type="String">Ciudad</Data></Cell>
        <Cell><Data ss:Type="String">Calle</Data></Cell>
        <Cell><Data ss:Type="String">Numero</Data></Cell>
        <Cell><Data ss:Type="String">Piso</Data></Cell>
        <Cell><Data ss:Type="String">Departamento</Data></Cell>
        <Cell><Data ss:Type="String">Telefono</Data></Cell>
        <Cell><Data ss:Type="String">Correo Electronico</Data></Cell>
        <Cell><Data ss:Type="String">Dpto. Compañia</Data></Cell>
        <Cell><Data ss:Type="String">Rol. Compañia</Data></Cell>
      </Row>
    <% @empleados.each do |empleado| %>
      <Row>
        <Cell><Data ss:Type="String"><%= empleado.codigo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.apellido %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.nroIdentificacion %></Data></Cell>
        <Cell><Data ss:Type="Data"><%= empleado.fechaNacimiento %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.pais.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.provincia.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.ciudad.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.calle %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.nroDomicilio %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.piso %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.dpto %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.telefono %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.departamento.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= empleado.rol_de_empleado.nombre %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>