<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Proyecto código</Data></Cell>
        <Cell><Data ss:Type="String">Evento código</Data></Cell>
        <Cell><Data ss:Type="String">Evento Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Dia</Data></Cell>
        <Cell><Data ss:Type="String">Hora</Data></Cell>
      </Row>
    <% @eventos_proyectos.each do |ep| %>
      <Row>
        <Cell><Data ss:Type="String"><%= ep.proyecto.codigo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ep.evento.codigo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ep.evento.nombre %></Data></Cell>
        <Cell><Data ss:Type="Data"><%= ep.evento.dia %></Data></Cell>
        <Cell><Data ss:Type="Data"><%= ep.evento.hora %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
        