<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Proyecto</Data></Cell>
        <Cell><Data ss:Type="String">Persona Responsable</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de Inicio</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de Finalización</Data></Cell>
      </Row>
    <% @contratos.each do |contrato| %>
      <Row>
        <Cell><Data ss:Type="String"><%= contrato.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contrato.proyecto.codigo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contrato.persona.nombre_y_apellido %></Data></Cell>
        <Cell><Data ss:Type="Data"><%= contrato.fecha_inicio %></Data></Cell>
        <Cell><Data ss:Type="Data"><%= contrato.fecha_fin %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>