<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Descipción</Data></Cell>
        <Cell><Data ss:Type="String">Obligatorio</Data></Cell>
        <Cell><Data ss:Type="String">Etapa</Data></Cell>
        <Cell><Data ss:Type="String">Actividades antecedentes</Data></Cell>
      </Row>
    <% @actividades.each do |actividad| %>
      <Row>
        <Cell><Data ss:Type="String"><%= actividad.id.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= actividad.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= actividad.descripcion %></Data></Cell>
        <% if actividad.obligatorio == true %>
          <Cell><Data ss:Type="String">Sí</Data></Cell>
        <% else%>
          <Cell><Data ss:Type="String">No</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= actividad.etapa.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= actividad.actividades_antecedentes %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>